@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-clr:#127d8d;
    --sec-clr:#51b6aa;
    --text-black: rgb(41, 41, 41);
    --text-light: rgb(129, 129, 129);
}

html {
    font-family: 'Nunito', sans-serif;
}

main { 
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1,
.circle2 {
    background: #fff;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.glass-container {
    width: 1000px;
    height: 700px;
    
    border-radius: 25px;

    display: grid;
    grid-template-columns: 1fr 3fr;

    background: rgba(255, 255, 255, 0.5);
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    -moz-backdrop-filter: blur(1rem);
}

/* ------------ LEFT CONTAINER ------------ */

.glass-container__info {
    background: rgba(255, 255, 255, 0.4);
    
    border-radius: 25px 0 0 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PLAYER INFO */
.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33%;
}

.player-info img {
    margin-bottom: 10px;
}

.player-name {
    font-weight: 700;
    color: var(--main-clr);
}

.player-title {
    font-size: 12px;
    color: var(--sec-clr);
}

/* PLAYER LINKS */

.player-links {
    list-style: none;
    height: 33%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-links li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--main-clr);
}

/* PRO BANNER */

.pro-banner {
    height: 33%;
    display: flex;
    align-items: center;

    padding: 10px;
}

.pro-banner-btn {
    height: 70%;
    font-size: 16px;
    font-weight: 500;

    cursor: pointer;

    display: flex;
    align-items: center;

    padding: 20px;
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: 20px;
    background: #65dfc9;
    background: linear-gradient(
        to right bottom, #65dfc9, #6cdbeb
    );

    transition: 0.5s all ease-in-out;
}

.pro-banner-btn:hover {
    background: #65dfc9;
    background: linear-gradient(
        to right bottom, #6cdbeb, #65dfc9
    );
}

.pro-banner img {
    height: 120px;
    width: auto;
}

/* ------------ RIGHT CONTAINER ------------ */

.glass-container__games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* BANNER */

.banner {
    width: 100%;
    height: 15%;

    padding: 0 100px 0 100px;
    font-size: 24px;
    font-weight: 800;
    color: var(--main-clr);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner input {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 250px;
    transition: 0.2s all ease;
}

.banner input:focus {
    outline: none;
    border-color: var(--sec-clr);
    box-shadow: 0 2px 5px var(--sec-clr);
}

/* GAME LIST */

.games-list {
    width: 100%;
    padding: 0 100px 0 100px;
}

.game-card {
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    padding: 10px;
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;

    border-radius: 20px;
}

.game-title {
    color: var(--text-black);
}

.game-platform {
    color: var(--text-light);
    font-size: 12px;
    margin-bottom: 10px;
}

.progress-bar {
    background: white;
    width: 250px;
    height: 20px;
    border-radius: 25px;
}

.progress-bar-inside {
    background: linear-gradient(
        to right bottom, #65dfc9, #6cdbeb
    );
    width: 85%;
    height: 20px;
    border-radius: 25px;
}

.percentage {
    color: var(--sec-clr);
    font-size: 18px;
}